*{
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
}

img {
    width: 20px;
    height: 20px;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
                'sidebar header'
                'sidebar main-body';
}
.header{
    grid-area: header;
    background-color: rgba(40, 127, 204, 0.296);
    display: grid;
    grid-template-rows: auto auto;
}
.nav-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:5px 30px;
    gap:10px;
}
.search-container{
    display: flex;
    align-items: center;
    gap:10px
    
}
.search-bar{
    height: 30px;
    background-color: aliceblue;
    border-radius: 20px;
    flex: 1;
}
.nav-icon{
    width: 25px;
    height: 25px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    gap:10px;
}
.profile-image{
    width: 60px;
    height: 60px;
}
.nav-bar .user-name{
    font-size: 1.25rem;
    font-weight: bold;
}
.info-bar{
    display: grid;
    grid-template-columns: auto auto;
    padding:5px 30px;
}
.main-body{
    grid-area: main-body;
    background-color: rgb(210, 231, 249);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(20, 151, 187);
    color: white;
}
.icon-svg{
    width: 25px;
    height: 25px;
    filter: invert(80%) sepia(98%) saturate(5365%) hue-rotate(187deg) brightness(127%) contrast(100%);
}

