*{
    margin:0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
}

body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
                'sidebar header'
                'sidebar main-body';
}

.header{
    grid-area: header;
    background-color: rgba(40, 127, 204, 0.296);
    display: grid;
    grid-template-rows: auto auto;
}
.nav-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:5px 30px;
    gap:10px;
}
.search-container{
    display: flex;
    align-items: center;
    gap:10px
    
}
.search-bar{
    height: 30px;
    background-color: aliceblue;
    border-radius: 20px;
    flex: 1;
}
.nav-icon{
    width: 25px;
    height: 25px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    gap:10px;
}
.profile-image{
    width: 60px;
    height: 60px;
}
.nav-bar .user-name{
    font-size: 1.25rem;
    font-weight: bold;
}
.info-bar{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding:5px 30px;
    gap: 10px;
}

.infobar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile-bigger {
    width: 100px;
    height: 100px;
}

.infobar-profile .user-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.buttons-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;

}
button{
    font-size:1.25rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgb(20, 151, 187);
    color: white;
    width: 100px;
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(20, 151, 187);
    color: white;
    display: grid;
    grid-template-rows: 1fr 4fr;
   padding:0 20px;
}
.sidebar-name{
    align-self: center;
}
.sidebar-name p{
    font-size: 2.5rem;
    font-weight: bold;
}
.link-div{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.link-div p{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}
.icon-svg{
    width: 25px;
    height: 25px;
    filter: invert(80%) sepia(98%) saturate(5365%) hue-rotate(187deg) brightness(127%) contrast(100%);
}

.main-body{
    grid-area: main-body;
    background-color: rgb(210, 231, 249);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
                "project-container announcements"
                "project-container trending";
    padding: 20px;
    gap: 20px;
}

.project-container {
    grid-area: project-container;
}
.project-grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 30px;
}
.project-box{
    border-left: 5px solid rgb(20, 151, 187);
    background-color: rgba(56, 156, 244, 0.203);
    border-radius: 5px;
    padding: 20px;
    display: grid;
    gap: 15px;
    
}
.project-title{
    font-size:1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.icon-box{
    justify-self: end;
    align-self: end;
}
.icon-box img{
    width: 25px;
    height: 25px;

}
.announcements {
    grid-area: announcements;

}
.announcement-grid{
    background-color: rgba(56, 156, 244, 0.203);
    padding: 30px;
    display: grid;
    gap: 20px;
    border-radius: 5px;
}
.announcement-title{
    font-weight: bold;
    padding-bottom: 5px;
}
.trending {
    grid-area: trending;

 
}
.trending-grid{
    background-color: rgba(56, 156, 244, 0.203);
    padding: 30px;
    display: grid;
    gap: 20px;
    border-radius: 5px;
}


.container-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom:10px;
}
.trending-grid{
    display: grid;
    grid-template-columns: auto auto;
}
.trending-box{
    display: flex;
    align-items: center;
    gap: 10px;
}
.trending-box img{
    width: 60px;
    height: 60px;
}

.trending-profile {
    font-size: 1.25rem;

}